
.light-theme {
  --primary-color: #66acf7;
  --secondary-color: #300e4d;
  --third-color: #d9da9e;
  background-color: #c6e4e6;
  --disabled-color: #6c757d;
  width: 100vw;
  height: 100vh;
}
.dark-theme {
  --primary-color: #000000;
  --secondary-color: #d9dee4;
  --third-color: #4e3030;
  background-color: #636363;
  --disabled-color: #4a4a4b;
  width: 100vw;
  height: 100vh;
}